body, html {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: black;
}

.letter {
  background-color: #2f3136;/*#0069b3;*/
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  place-items: center;
  padding: 15px;
  font-size: 20px;
  color: white;
  line-height: 1;
  /*font-family: "hobeaux-rococeaux-background", monospace;*/
  /*font-family: "Times New Roman", "Arial"*/
  font-family: "Arial";
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-justify: center;
}

.NPZ {
  grid-column: 2;
  grid-row: 1;
}

.HZ {
  grid-column: 2;
  grid-row: 2;
}

.VT {
  grid-column: 1;
  grid-row: 3;
}

.R8 {
  grid-column: 2;
  grid-row: 3;
}

.BC {
  grid-column: 4;
  grid-row: 3;
}

.NPE {
  grid-column: 5;
  grid-row: 3;
}

.R16 {
  grid-column: 8;
  grid-row: 3;
}

.ST {
  grid-column: 9;
  grid-row: 3;
}

.R11 {
  grid-column: 2;
  grid-row: 4;
}

.R7 {
  grid-column: 4;
  grid-row: 4;
}

.SiT {
  grid-column: 8;
  grid-row: 4;
}

.LT {
  grid-column: 2;
  grid-row: 5;
}

.R9 {
  grid-column: 3;
  grid-row: 5;
}

.R6 {
  grid-column: 4;
  grid-row: 5;
}

.RT {
  grid-column: 5;
  grid-row: 5;
}

.R5 {
  grid-column: 6;
  grid-row: 5/span 3;
}

.R15 {
  grid-column: 8;
  grid-row: 5;
}

.CS {
  grid-column: 1;
  grid-row: 6;
}

.VR {
  grid-column: 2;
  grid-row: 6;
}

.R12 {
  grid-column: 7;
  grid-row: 6;
}

.R13 {
  grid-column: 8;
  grid-row: 6;
}

.Ah {
  grid-column: 5;
  grid-row: 7;
  justify-self: center;
  align-self: end;
}

.VC {
  grid-column: 8;
  grid-row: 7;
}

.R14 {
  grid-column: 9;
  grid-row: 7;
}

.TV {
  grid-column: 10;
  grid-row: 7;
}

.NC {
  grid-column: 2;
  grid-row: 8;
}

.AT {
  grid-column: 4;
  grid-row: 8;
}

.R10 {
  grid-column: 5;
  grid-row: 8;
}

.R4 {
  grid-column: 6;
  grid-row: 8 / span 3;
}

.R2 {
  grid-column: 2;
  grid-row: 9;
}

.KT {
  grid-column: 2;
  grid-row: 10;
}

.BT {
  grid-column: 5;
  grid-row: 10;
}

.R1 {
  grid-column: 2 / span 2;
  grid-row: 11;
}

.MT {
  grid-column: 4;
  grid-row: 11;
}

.R3 {
  grid-column: 5;
  grid-row: 11;
}

/*District 1*/
.MT, .R3 {
  background-color: red;
}

/*District 3*/
.NC, .R2, .KT {
  background-color: green;
}

/*District 7 purple*/
.R5, .R12, .R13, .VC {
  background-color: purple;
}

/*District 8 orange*/
.TV {
  background-color: #e66465;
}

/*District 7-8*/
.R14 {
  background: linear-gradient(0.75turn, #e66465 35%, purple 65%)
}

/*District 9*/
.SiT, .R15 {
  background-color: #0038ff;
}

/*District 12*/
.R6, .RT {
  background-color: #00a050;
}

/*District 13*/
.BC, .R7 {
  background-color: brown;
}

/*District 19*/
.NPZ, .HZ {
  background-color: #e75480;
}


/*tooltip*/
.letter span
{
  display:inline;
  position:absolute;
  visibility:hidden;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  color:black;
  background:black; 
}
 
 
.letter span img
{
  float:left;
  margin:0px 0px 0px 0;
}
 
 
.letter:hover span
{
  visibility:visible;
  /* display:fixed; */
  /* position:absolute; */
  /* top:0; */
  /* left:0; */
  z-index:1000;
  width:auto;
  max-width:320px;
  min-height:20px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:0px;
}
